$body-bg:black;

// Bootstrap body foreground
$body-color: white;


// Bootstrap theme colors
$theme-colors: ('primary': #FCA311,
    'secondary': #14213D,
    'light-secondary':#294278);


// Sass imports (The variables need to be set prior to importing)
@import '~bootstrap';
@import '~bootstrap-vue';



html,
body {
    position: relative;
    min-height: 100%;
    margin: 0 0 0px;
    background: #0000;
    padding: 25px;
    background-image: url("background.svg"), linear-gradient(180deg, rgba(0, 0, 0, 1) 22%, rgba(2, 3, 5, 1) 37%, rgba(20, 33, 61, 1) 100%);

    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto',
        sans-serif;


    #app {

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: white;
        min-height: 100%;



        .about-content {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 100px;

            img {
                align-self: flex-start;
                max-width: 250px;
            }

            .about-box {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 70%;
                justify-content: flex-start;

                p {
                    margin-left: 40px;
                    font-size: 20px;

                    span {
                        font-weight: 600;
                    }
                }
            }
        }


        h1 {
            font-family: "Teko", sans-serif;
            font-size: 50px;
            font-weight: 500;
            letter-spacing: 0.05em;
        }

        h3 {
            font-size: 20px;
        }

        .button {
            height: 3em;
            font-size: 24px;
            font-weight: bold;
        }

        p {
            font-size: 18px;
            max-width: 70%;
            text-align: left;
        }

        footer {}



    }
}